:root {
    --accent-color: #2196f3;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --accent-color-logo: #2196f3;
    --secondary-color: #ffffff;
    --contacts-color: #757575;
  }